body {
  	margin: 0px;
  	padding: 0px;
  	text-align: center;
}
#tabla2 td, #tabla2{
  	background-color: white;
  	margin: 0px auto;
  	font-size: 0.75em;
  	border: 1px solid black;
  	border-collapse: collapse;
  	padding: 1px 10px;
}
#cabUno, #cabUno td {
	background-color: white;
  	margin: 0px auto;
  	font-size: 0.75em;
  	/*border: 1px solid black;*/
  	border-top: 1px solid black;
  	border-left: 1px solid black;
  	border-right: 1px solid black;
  	border-collapse: collapse;
}
tr #logo {
	padding: 0px;
}
#imglogo {
	padding: 0px;
}