<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<title>Armaduras Argentinas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="shortcut icon" type="image/x-icon" href="/images/logo_aa_ico.ico"></link>
</head>
<body>
	<header th:fragment="header">
		<div class="row" id="menu">
			<center><img src="/images/header.jpg" width="50%" height="50%"></img></center>
		</div>
	</header>
	<section></section>
	<footer class="row" th:fragment="footer">
	</footer>
</body>
</html>