<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="layoutPrincipal :: head">
</head>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
<body class="container-fluid"  style="overflow: scroll;">
	<header th:include="layoutPrincipal :: header"></header>
	<section>
	<h3 style="color: black;background-color: indianred;padding: 10px;"><a style="text-decoration:none;" href="/">Home&emsp;></a><span><a style="text-decoration:none;" href="/remitos">&emsp;Remitos&emsp;></a></span><span><a style="text-decoration:none;" href="/remitos/listaRemitosAcerBrag">&emsp;Lista de Remitos AcerBrag</a></span></h3>
	<br></br>
		<div class="container-fluid">
			<table id="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>NUMERO</th>
						<th>FECHA</th>
						<th>ESTADO</th>
						<th>MODIFICAR</th>
						<th>ACTIVAR</th>
						<th>ANULAR</th>
					</tr>
					</thead>
				<tbody>
					<tr th:each="lr : ${listaDeRemitos}" class="filaRemitoAcerBrag" th:href="'/mostrarRemitosAcerBrag/'+ ${lr.id}">
						<td><span id="IdRemito" th:text="${lr.numeroDeRemito}" class="id" ></span></td>
						<td><span th:text="${lr.fecha}" ></span></td>
						<td id="estado"><span th:text="${lr.estado}"></span></td>
						<td><a th:href="'/remitoAcerBrag/modificar/'+${lr.id}"  style="color:blue"><span class="glyphicon glyphicon-pencil"></span></a></td>
						<td><a th:href="'/remitoAcerBrag/activar/'+${lr.id}" onclick="return confirm('Activar remito?')" style="color:green"><span class="glyphicon glyphicon-ok"></span></a></td>
						<td><a th:href="'/remitoAcerBrag/anular/'+${lr.id}" onclick="return confirm('Anular remito?')" style="color:red"><span class="glyphicon glyphicon-remove"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<footer th:include="layoutPrincipal :: footer"></footer>
	
	
	
</body>


</html>