<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layoutPrincipal :: head"></head>
<body class="container-fluid">
	<header th:include="layoutPrincipal :: header"></header>
	<section>
	<h3 style="color: black;background-color: indianred;padding: 10px;"><a style="text-decoration:none;" href="/">Home&emsp;></a><span><a style="text-decoration:none;" href="/oficinatecnica">&emsp;Oficina Tecnica&emsp;></a></span><span><a style="text-decoration:none;" href="/productos">&emsp;Etiquetado&emsp;></a></span><span><a style="text-decoration:none;" href="/etiquetado/pedidos">&emsp;Ver Pedidos</a></span></h3>
	<br></br>
	<!-- Agregar clase cliente y clase obra  -->
	<h4>&nbsp;&nbsp;&nbsp;&nbsp;Complete los datos del pedido. (*) Campos obligatorios.</h4>
		<div class="container-fluid" id="form-div">
			<form id="nuevoCliente" action="" method="post" class="form" autocomplete="off">
				<input th:value="${entrega}" name="entrega" type="text" id="datepicker" readonly="readonly" required = ""
				class="validate[required,custom[email]] feedback-input fech" placeholder="*DDMMAAAA"></input>
<!-- 				<select name="cliente" th:value="${cliente}" type="text" class="validate[required,custom[email]] feedback-input cliente" id="nombredefantasia" placeholder="*Cliente"> -->
<!-- 					<option th:text="${cliente}"></option> -->
<!-- 					<option th:each="cli : ${lisClientes}" th:text="${cli.nombreFantasia}"></option> -->
<!-- 				</select> -->
<!-- 				<select name="obra" th:value="${obra}" type="text" class="validate[required,custom[email]] feedback-input obra" id="nombredefantasia" placeholder="*Obra"> -->
<!-- 					<option th:text="${obra}"></option> -->
<!-- 					<option th:each="ob : ${listaObras}" th:text="${ob.nombreDeObra}"></option> -->
<!-- 				</select> -->
				<input th:value="${cliente}" name="cliente" type="text"
				class="validate[required,custom[email]] feedback-input" placeholder="*Cliente" readonly="readonly"></input>
				<input th:value="${obra}" name="obra" type="text"
				class="validate[required,custom[email]] feedback-input" placeholder="*Obra" readonly="readonly"></input>
				<input th:value="${descripcion}" name="descripcion" type="text"
				class="validate[required,custom[email]] feedback-input descrip" placeholder="*Descripcion" required = ""></input>
				<select th:value="${tipo}" name="tipo" class="validate[required,custom[email]] feedback-input" required = "">
					<option th:text="${tipo}"></option>
					<option>Armado</option>
					<option>Barras</option>
					<option>CyD</option>
					<option>Pilote</option>
					<option>Cortado</option>
				</select>
				<!-- De necesitar que el campo oc se valide, solo agregarle la clase "oc" a la clase -->
				<input th:value="${oc}" name="oc" type="text" class="validate[required,custom[email]] feedback-input" placeholder="OC"></input>
				<div th:if="${ETIQUETADO}">
					<input th:value="${cuatrocomados}" name="cuatrocomados" type="text" class="validate[required,custom[email]] feedback-input 4" placeholder="4,2"></input> 
					<input th:value="${seis}" name="seis" type="text" class="validate[required,custom[email]] feedback-input 6" placeholder="6"></input> 
					<input th:value="${ocho}" name="ocho" type="text" class="validate[required,custom[email]] feedback-input 8"
					placeholder="8"></input> 
					<input th:value="${diez}" name="diez" type="text" class="validate[required,custom[email]] feedback-input 10" placeholder="10"></input> 
					<input th:value="${doce}" name="doce" type="text" class="validate[required,custom[email]] feedback-input 12"
					placeholder="12"></input> 
					<input th:value="${dieciseis}" name="dieciseis" type="text" class="validate[required,custom[email]] feedback-input 16" placeholder="16"></input>
					<input th:value="${veinte}" name="veinte" type="text" class="validate[required,custom[email]] feedback-input 20" placeholder="20"></input> 
					<input th:value="${veinticinco}" name="veinticinco" type="text" class="validate[required,custom[email]] feedback-input 25" placeholder="25"></input> 
					<input th:value="${treintaydos}" name="treintaydos" type="text" class="validate[required,custom[email]] feedback-input 32" placeholder="32"></input>
				</div>
				<div th:if="${ETIQUETADO}==false">
					<input th:value="${cuatrocomados}" name="cuatrocomados" type="hidden" class="validate[required,custom[email]] feedback-input 4" placeholder="4,2"></input> 
					<input th:value="${seis}" name="seis" type="hidden" class="validate[required,custom[email]] feedback-input 6" placeholder="6"></input> 
					<input th:value="${ocho}" name="ocho" type="hidden" class="validate[required,custom[email]] feedback-input 8"
					placeholder="8"></input> 
					<input th:value="${diez}" name="diez" type="hidden" class="validate[required,custom[email]] feedback-input 10" placeholder="10"></input> 
					<input th:value="${doce}" name="doce" type="hidden" class="validate[required,custom[email]] feedback-input 12"
					placeholder="12"></input> 
					<input th:value="${dieciseis}" name="dieciseis" type="hidden" class="validate[required,custom[email]] feedback-input 16" placeholder="16"></input>
					<input th:value="${veinte}" name="veinte" type="hidden" class="validate[required,custom[email]] feedback-input 20" placeholder="20"></input> 
					<input th:value="${veinticinco}" name="veinticinco" type="hidden" class="validate[required,custom[email]] feedback-input 25" placeholder="25"></input> 
					<input th:value="${treintaydos}" name="treintaydos" type="hidden" class="validate[required,custom[email]] feedback-input 32" placeholder="32"></input>
				</div>
				<input th:value="${elementos}" name="elementos" type="number" class="validate[required,custom[email]] feedback-input" placeholder="Elementos"></input>
				<div class="guardar">
					<input type="submit" value="GUARDAR" id="button-blue"></input>
					<div class="ease"></div>
				</div>
			</form>
		</div>
	</section>
	<footer th:include="layoutPrincipal :: footer"></footer>
</body>
</html>