<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layoutPrincipal :: head"></head>
<body>
	<header th:include="layoutPrincipal :: header"></header>
	<section>
	<h3 style="color: black;background-color: indianred;padding: 10px;">
			<a style="text-decoration:none;" href="/">Home&emsp;></a><span><a style="text-decoration:none;" href="/oficinatecnica">&emsp;Oficina Tecnica&emsp;></a></span><span><a style="text-decoration:none;" href="/productos">&emsp;Etiquetado&emsp;></a></span><span><a	style="text-decoration:none;" href="/productos/formatos">&emsp;Ver Formatos</a></span>
		</h3>
		<br></br>
		<div class="container-fluid" id="form-div">
			<form id="nuevoFormato" action="" method="post" autocomplete="off">
				<div class="row">
					<p><input th:value="${posicion}" name="posicion" type="text"
						class="form-control posicionF" placeholder="Posicion"></input></p> <p><input
						th:value="${formato}" name="formato" type="text"
						class="formatoURL form-control formato" placeholder="Formato"></input></p>
					<script type="text/javascript"
						src="//api.filestackapi.com/filestack.js"></script>
					<p><input th:value="${lados}" name="lados" type="text"
						class="form-control lados" placeholder="*Lados"></input> </p>						
					<p><input th:value="${cant_doblados}" name="cant_doblados" type="text"
						class="form-control cant_doblados" placeholder="*Cantidad de doblados"></input> </p>		
						<div style="margin-left: 35%;"><input
						type="filepicker" data-fp-apikey="AaAHNYtqSxGTajwpoGdLwz"
						onchange="llegoUrl(event.fpfile.url)"></input></div>
					<div class="guardar">
						<input type="submit" value="GUARDAR" id="button-blue"/>
						<div class="ease"></div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<footer th:include="layoutPrincipal :: footer"></footer>
</body>
</html>