<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include = "layoutPrincipal :: head"></head>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
<body class="container-fluid" style="overflow: scroll;">
<header th:include = "layoutPrincipal :: header"></header>
<section>
	<h3 style="color: black;background-color: indianred;padding: 10px;"><a style="text-decoration:none;" href="/">Home&emsp;></a><span><a style="text-decoration:none;" href="/materiaprima">&emsp;Materia Prima&emsp;></a></span><span><a style="text-decoration:none;" href="/ingresomp">&emsp;Ingreso MP</a></span></h3>
	<br></br>
	<h4>&nbsp;&nbsp;&nbsp;&nbsp;Seleccione el "ARCHIVO.TXT"</h4>
    <div class="container-fluid form-div" id="form-div">
		<!--Para poder enviar archivos tipo "file", el formulario debe ser enctype="...."-->
		<form action="" enctype="multipart/form-data" method="post" class="form" autocomplete="off">
		   	<div class="divFileTXT">
		   		<label for="txtAcerbrag" class="input-label">
		   			<i class="fa fa-upload"></i>
		   			Seleccione el archivo
		   		</label>
		   		<input type="file" th:value="${archivoTXT}" name="archivoTXT" id="txtAcerbrag" size="3000"></input>
		   	</div>
			<div class="guardar">
				<input type="submit" value="GUARDAR" id="button-blue"/>
				<div class="ease"></div>
			</div>
		</form>
	</div>
</section>
<footer th:include = "layoutPrincipal :: footer"></footer>
</body>

</html>