<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="layoutPrincipal :: head"></head>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
<body class="container-fluid">
	<header th:include="layoutPrincipal :: header"></header>
	<section>
	<h3 style="color: black;background-color: indianred;padding: 10px;"><a style="text-decoration:none;" href="/">Home&emsp;></a><span><a style="text-decoration:none;" href="/oficinatecnica">&emsp;Oficina Tecnica</a></span></h3>
		<br></br>
		<div class="container-fluid">
			<div class="col-md-8">
				<div id="menuL">
					<ul>
						<a id="idA" href="/programacion" style="text-decoration:none;"><li><img src="/images/computer.png" alt="" width="70px"></img>PROGRAMACION</li></a>
						<a id="idA" href="/productos" style="text-decoration:none;"><li><img src="/images/monitor.png" alt="" width="70px"></img>ETIQUETADO</li></a>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<footer th:include="layoutPrincipal :: footer"></footer>
</body>

</html>

