<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="layoutPrincipal :: head"></head>
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"></meta>
<body class="container-fluid">
	<header th:include="layoutPrincipal :: header"></header>
	<section>
		<h3 style="color: black; background-color: indianred; padding: 10px;">
			<a style="text-decoration: none;" href="/">Home&emsp;></a><span><a
				style="text-decoration: none;" href="/administracion">&emsp;Administracion&emsp;></a></span>
			<span><a style="text-decoration: none;" href="/usuariosWeb">&emsp;Usuarios
					Android</a></span>
		</h3>
		<br></br>
		<div class="container-fluid">
			<div class="col-md-8">
				<div id="menuL">
					<ul>
						<a id="idA" href="/usuariosWeb" style="text-decoration: none;"><li><img
								src="/images/television.png" alt="" width="70px"></img>Usuarios
								Web</li></a>
						<a id="idA" href="/usuariosAndroid" style="text-decoration: none;"><li><img
								src="/images/smartphone.png" alt="" width="70px"></img>Usuarios
								Android</li></a>
					</ul>
				</div>
			</div>
			<div id="paleta" class="col-md-4">
				<h2 style="text-align: center; font-size: 2em;">Usuarios
					Android</h2>
				<ul class="list-unstyled">
					<li id="cambiarcosas"><a
						href="/administracion/nuevoUsuarioAndroid"
						style="padding-left: 20px; color: white;">Nuevo Usuario</a></li>
					<li id="cambiarcosas"><a
						href="/administracion/listaDeUsuariosAndroid"
						style="padding-left: 20px; color: white;">Lista de Usuarios</a></li>
				</ul>
			</div>
		</div>
	</section>
	<footer th:include="layoutPrincipal :: footer"></footer>
</body>

</html>